In [6]:
import pandas as pd

# Load the dataset
file_path = 'data/athlete_events.csv'
data = pd.read_csv(file_path)

data.head()

# a. Number of unique countries (NOCs) - already calculated as 'unique_countries'

# b. List of unique countries (NOCs)
unique_nocs = data['NOC'].unique()

# c. List of unique sports
unique_sports = data['Sport'].unique()

# d. List of unique medal types
unique_medals = data['Medal'].unique()

# e. Statistics for age: mean, median, min, max, standard deviation
age_stats = data['Age'].agg(['mean', 'median', 'min', 'max', 'std'])

unique_nocs, unique_sports, unique_medals, age_stats

(array(['CHN', 'DEN', 'NED', 'USA', 'FIN', 'NOR', 'ROU', 'EST', 'FRA',
        'MAR', 'ESP', 'EGY', 'IRI', 'BUL', 'ITA', 'CHA', 'AZE', 'SUD',
        'RUS', 'ARG', 'CUB', 'BLR', 'GRE', 'CMR', 'TUR', 'CHI', 'MEX',
        'URS', 'NCA', 'HUN', 'NGR', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ',
        'UAR', 'LIB', 'QAT', 'MAS', 'GER', 'CAN', 'IRL', 'AUS', 'RSA',
        'ERI', 'TAN', 'JOR', 'TUN', 'LBA', 'BEL', 'DJI', 'PLE', 'COM',
        'KAZ', 'BRU', 'IND', 'KSA', 'SYR', 'MDV', 'ETH', 'UAE', 'YAR',
        'INA', 'PHI', 'SGP', 'UZB', 'KGZ', 'TJK', 'EUN', 'JPN', 'CGO',
        'SUI', 'BRA', 'FRG', 'GDR', 'MON', 'ISR', 'URU', 'SWE', 'ISV',
        'SRI', 'ARM', 'CIV', 'KEN', 'BEN', 'UKR', 'GBR', 'GHA', 'SOM',
        'LAT', 'NIG', 'MLI', 'AFG', 'POL', 'CRC', 'PAN', 'GEO', 'SLO',
        'CRO', 'GUY', 'NZL', 'POR', 'PAR', 'ANG', 'VEN', 'COL', 'BAN',
        'PER', 'ESA', 'PUR', 'UGA', 'HON', 'ECU', 'TKM', 'MRI', 'SEY',
        'TCH', 'LUX', 'MTN', 'CZE', 'SKN', 'TTO', 'DOM', 'VIN', 'JAM',
        'LBR', 'SUR', 'NEP', 'MGL', 'AUT', 'PLW', 'LTU', 'TOG', 'NAM',
        'AHO', 'ISL', 'ASA', 'SAM', 'RWA', 'DMA', 'HAI', 'MLT', 'CYP',
        'GUI', 'BIZ', 'YMD', 'KOR', 'THA', 'BER', 'ANZ', 'SCG', 'SLE',
        'PNG', 'YEM', 'IOA', 'OMA', 'FIJ', 'VAN', 'MDA', 'YUG', 'BAH',
        'GUA', 'SRB', 'IVB', 'MOZ', 'CAF', 'MAD', 'MAL', 'BIH', 'GUM',
        'CAY', 'SVK', 'BAR', 'GBS', 'TLS', 'COD', 'GAB', 'SMR', 'LAO',
        'BOT', 'ROT', 'CAM', 'PRK', 'SOL', 'SEN', 'CPV', 'CRT', 'GEQ',
        'BOL', 'SAA', 'AND', 'ANT', 'ZIM', 'GRN', 'HKG', 'LCA', 'FSM',
        'MYA', 'MAW', 'ZAM', 'RHO', 'TPE', 'STP', 'MKD', 'BOH', 'TGA',
        'LIE', 'MNE', 'GAM', 'COK', 'ALB', 'WIF', 'SWZ', 'BUR', 'NBO',
        'BDI', 'ARU', 'NRU', 'VNM', 'VIE', 'BHU', 'MHL', 'KIR', 'UNK',
        'TUV', 'NFL', 'KOS', 'SSD', 'LES'], dtype=object),
 array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
        'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
        'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
        'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
        'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
        'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
        'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
        'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
        'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
        'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
        'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
        'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
        'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
        'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
        'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
        'Aeronautics'], dtype=object),
 array([nan, 'Gold', 'Bronze', 'Silver'], dtype=object),
 mean      25.556898
 median    24.000000
 min       10.000000
 max       97.000000
 std        6.393561
 Name: Age, dtype: float64)

In [7]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [16]:
group1 = data.groupby ("Name")["Age"].agg("mean").sort_values(asceding=False)

print(data.head)

TypeError: Series.sort_values() got an unexpected keyword argument 'asceding'